{% extends "social/base.html" %}

{% block content %}
<div class='main'>
<h3>Network Members</h3>
<table style="width:500px;" class="main">
{% for member in members %}
<tr><td align="center"><a href="?view={{ member.username }}"> {{ member.username }} </a></td><td align="right">
	{% if member in friends %}
		&nbsp;&nbsp;&nbsp;
		<a href="?unfriend={{ member.username }}">Unfriend</a>
	{% elif member in following %}
		&nbsp;&nbsp;&nbsp;
		 Request sent  [<a href="?cancel={{ member.username }}">Cancel</a>]		
        {% else %}
				{% if member.username in nonRequest %}
		&nbsp;&nbsp;&nbsp;
					 <a href="?request={{ member.username }}">Send Friend Request</a>
				{% else %}
		&nbsp;&nbsp;&nbsp;
					 This user has sent you friend request
			{% endif %}
	{% endif %}
        </td>
</tr>
{% endfor %}


</table>
<br>
</div>
{% endblock %}
